@page "{id}"
@model WebApplication7.Pages.People.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Person</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Person.FirstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Person.FirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Person.FamilyName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Person.FamilyName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Person.EmailAddress)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Person.EmailAddress)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Person.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
