@page
@model WebApplication7.Pages.People.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

@if (!String.IsNullOrEmpty(@Model.Message))
{
    <div class="alert alert-success ">
        <a href="#" class="close" data-dismiss="alert">&times;</a>
        @Model.Message
    </div>
}

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Person[0].FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Person[0].FamilyName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Person)
        {
            <tr>
                <td>
                    @item.FirstName
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FamilyName)
                </td>
                <td>
                    <a asp-page="Edit" asp-route-id="@item.ID">Edit</a> |
                    <a href="Edit">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                    <a href="./Details">Details</a> |
                    <a href="Details">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
                    <a asp-page="nonsense" asp-route-id="@item.ID">Nonsense</a>

                </td>
            </tr>
        }
    </tbody>
</table>
